HIDDEN_SECRET_KEY = 'xxxxxxxx'  # generate django secret_key by youself

MAIL_SETTINGS = {
    'SMTP_SERVER': 'smtp.qq.com',
    'PORT': '25',
    'SSL_PORT': '465',              # if not QQ mail, change it
    'USERNAME': 'example',          # QQ number if you use QQ mail
    'ADDRESS': 'example@qq.com',
    'PASSWORD': 'xxxxxxxxx',
}

SITE_INFO = {
    'SITE_URL': 'http://example.com',   # Your site address
    'SITE_NAME': 'example',             # Your site name
    'ADMIN_MAIL': 'example@qq.com',     # Your admin mail address you received an email when your blog have new comment
    'ADMIN_NAME': 'example',            # Your Blog name
}

# In this case you should add you domain in the list for use your api
# 可以使用该api的域名白名单列表 (example https://example.com https://www.example.com)
# 需要加https 或者http
# 最后需要以逗号结尾,不然会报错
DOMAIN_WHITE_LIST = (
    'http://127.0.0.1:4000',
    'http://localhost:4000',
    'http://127.0.0.1:8000',
)

# 受信任域名列表不需要加https 或者http
# 最后需要以逗号结尾,不然会报错
TRUSTED_ORGINS = (
    'localhost',
)
